.nav {
  list-style: none;
  padding: 1.5rem;
  margin: 0;
  background-color: antiquewhite;
}
.habit-leaf {
  color: green;
  font-size: 2.5rem;
}

.habit-title {
  font-size: 2.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
}
.habit-totalCount {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  font-size: 2rem;
  background-color: green;
  color: white;
  text-align: center;
  border-radius: 50%;
}

.habit-input-container {
  list-style: none;
}

.habit-input {
  margin-top: 1rem;
  margin-left: 1.5rem;
  width: 15rem;
  font-size: 1.5rem;
}

.habit-btn {
  border: 0;
  margin-left: 0.5rem;
  font-size: 1.5rem;
  background-color: green;
  color: white;
  height: 2rem;
  width: 5.5rem;
}

button {
  outline: none;
  border: 0;
  cursor: pointer;
}
.habit {
  font-size: 2.5rem;
  padding: 0.5em;
  list-style: none;
}

.habit-count {
  display: inline-block;
  text-align: center;
  font-size: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  margin-left: 0.2em;
  margin-right: 0.5em;
  background-color: darkseagreen;
  color: white;
  border-radius: 50%;
}

.habit-button {
  font-size: 2.5rem;
  margin: 0.1em;
  background-color: transparent;
}

.habit-button:hover {
  opacity: 0.8;
}
.habit-increase,
.habit-decrease {
  color: goldenrod;
}

.habit-delete {
  font-size: 2rem;
  color: darkred;
}

.Reset-btn {
  width: 11.5rem;
  height: 3.5rem;
  font-size: 2.5rem;
  background-color: green;
  color: white;
}
